body, html {
	width: 100%;
	height: 100%;
	background: $medium-gray;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.container {
	max-width: 100% !important;
}

.card {
	&-login {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;

		> .card {
			width: 500px;
			margin: auto;
			max-width: 100%;
		}
	}
}

.calc-result {
	text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 5px rgba(0,0,0,.35);
}

.calc-item h4 {
	margin: 0;
    font-size: 18px;
}

.sidebar-wrapper li:not(:first-child) {
	display: none;
}

.badge.badge-success {
	color: #ffffff;
	padding: 8px;
    background-color: #28a745;
}

.badge.badge-danger {
	color: #ffffff;
	padding: 8px;
    background-color: #dc3545;
}

.btn-round {
	margin: 0 5px;
	text-align: center;
	
	> i {
		font-size: 16px !important;
	}
}

.main-panel > .content {
	overflow-y: auto;
    min-height: 100% !important;
    height: calc(100vh - 123px) !important;
}